/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  max-width: 700px;
  margin: 0 auto;
  min-block-size: 100dvb;
  font-family: var(--Inter), sans-serif;
  font-variation-settings: "wght" var(--FontWeightNormal);
  background-color: var(--ThemesBackground);
  color: var(--ThemesColor);
  background-image: var(--BackgroundImage);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.floppy-wrap {
  position: relative;
  stroke: var(--AnimationColor);
  fill: var(--AnimationColor);
  mix-blend-mode: difference;
}

.header {
  display: flex;
  flex-direction: column;
  font-family: var(--PressStart2P), serif;
  text-transform: uppercase;
  background: var(--ThemesBackground);
  border: 2px solid var(--BorderColor);
  justify-content: end;
  align-items: center;
  min-height: 368px;
  margin: 100px 0;
}

.header__title {
  margin-bottom: 20px;
  font-size: clamp(3.063rem, 2.211rem + 4.255vw, 4.063rem);
  /* font-size: clamp(3.063rem, 1.894rem + 4.984vw, 4.063rem); */
}

.header__subtitle {
  margin-bottom: 25px;
  font-size: clamp(0.875rem, 0.218rem + 2.804vw, 1.438rem);
}

.header__theme-menu {
  font-size: 14px;
  margin-left: 19px;
  margin-bottom: 5px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 11px;
  margin-bottom: 15px;
}

.theme-menu__item {
  align-items: center;
}

.theme-menu__button {
  background: transparent;
  border: none;
  text-transform: uppercase;
  transition: 0.3s ease;
  position: relative;
}

.theme-menu__button::after {
  background-color: var(--ThemesColor);
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  -webkit-transition: width 0.3s ease;
  -moz--transition: width 0.3s ease;
  transition: width 0.3s ease;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
  opacity: 0.6;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  animation: arrow 1s ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes arrow {
  from {
    left: -13px;
  }
  50% {
    left: -17px;
  }
  to {
    left: -13px;
  }
}

/* CARD */

.cards {
  display: grid;
  gap: 52px;
  margin-bottom: 52px;
}

.card {
  background: var(--ThemesBackground);
  border: 2px solid var(--BorderColor);
}

.card__title {
  padding: 5px 10px;
  font-size: 18px;
  letter-spacing: 0.1px;
  font-variation-settings: "wght" var(--FontWeightBold);
}

.card__wrapper {
  position: relative;
}

.card_label {
  z-index: 1;
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  font-family: var(--PressStart2P), serif;
  text-shadow: 0 0 3px var(--ThemesBackground);
  font-size: 14px;
}

@supports (
  (text-stroke: 1px var(--ThemesBackground)) or (-webkit-text-stroke: 1px var(--ThemesBackground))
) {
  .card_label {
    -webkit-text-stroke: 1px var(--ThemesBackground);
    text-shadow: none;
  }
}

.card__img {
  width: 100%;
}

.card__text {
  display: grid;
  gap: 27px;
  padding: 25px;
}

.card__desc {
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.51px;
}

.card__buttons {
  display: flex;
  justify-content: end;
  gap: 5px;
  margin: 0 25px 23px 0;
}

.card__theme-button {
  background: transparent;
  border: none;
  padding: 0;
}

.card__theme-button:focus {
  outline: none;
}

.card__like-button {
  padding: 9px 35px;
  font-family: var(--PressStart2P), serif;
  border: 2px solid var(--BorderColor);
}

/* Темы для карточек */

.brightness {
  filter: brightness(30%);
}

.contrast {
  filter: contrast(55%);
}

.grayscale {
  filter: grayscale(0.9);
}

.saturate {
  filter: saturate(177%);
}

.hue-rotate {
  filter: hue-rotate(-45deg);
}

.sepia {
  filter: sepia(90%);
}

.mix {
  filter: sepia(40%) grayscale(0.3) brightness(132%) saturate(20%) hue-rotate(90deg);
}

.button__text {
  font-size: 14px;
  line-height: 90%;
  position: relative;
  color: var(--AnimationColor);
  mix-blend-mode: difference;
}

.button__theme {
  position: relative;
}

.button__theme:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--ThemesColor);
}

.button__theme::before {
  position: absolute;
  background-color: var(--ThemesColor);
  display: block;
  top: 0;
  left: 0;
  content: "";
  height: 100%;
  width: 0%;
  -webkit-transition: width 0.5s ease-in-out;
  -moz--transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}

.button__theme:hover:before {
  width: 100%;
}

.card_like {
  border: 2px solid transparent;
  height: 38px;
}

.card_like:focus-visible {
  border: 2px solid var(--ThemesColor);
  height: 38px;
  transition: 0.3s ease;
}

button {
  cursor: pointer;
}

/* FOOTER */

.footer {
  display: flex;
  justify-content: center;
  margin-bottom: 105px;
}

.footer__floppy-small {
  scale: 0.513;
}

.footer__button {
  background: var(--ThemesBackground);
  border: 2px solid var(--BorderColor);
  font-family: var(--PressStart2P), serif;
  display: flex;
  align-items: center;
  padding: 5px 15px;
}

dialog::backdrop {
  background-color: #000;
  opacity: 0.75;
}

.dialog {
  max-width: 357px;
  min-height: 193px;
  padding: 31px;
  background: var(--ThemesBackground);
  color: var(--ThemesColor);
  font-family: var(--PressStart2P), serif;
  font-size: 14px;
  text-transform: uppercase;
  border: 2px solid var(--ThemesColor);
}

.dialog__ok {
  background: transparent;
  border: 2px solid var(--ThemesColor);
  width: 100%;
  padding: 9px 17px;
  line-height: 90%;
}

.dialog__text {
  line-height: 150%;
}

.dialog__content {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.dialog__content > svg {
  flex-shrink: 0;
}

@media (width <= 375px) {
  .header {
    min-height: 327px;
  }

  .header__title {
    font-size: clamp(1.25rem, -9.295rem + 52.727vw, 3.063rem);
  }

  .card_label {
    top: 24px;
    right: 11px;
  }
  .card__text {
    padding-right: 33px;
  }

  .footer__button {
    flex-direction: column;
    padding: 12px 20px;
    gap: 2px;
  }

  .footer__floppy-small {
    scale: 0.72;
  }
}
