/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/
:root.theme-dark {
  --FontWeightNormal: 465;
  --FontWeightBold: 785;
  --ThemesBackground: #000;
  --ThemesColor: #00cc14;
  --BackgroundImage: repeating-linear-gradient(#000, #000 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(90deg, #000, #000 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(#007f0c 0%, #007f0c 0.01%, #004306 100%);
  --BorderColor: #00cc14;
  --AnimationColor: #00cc14;
  --heart: red;
}

:root.theme-light {
  --FontWeightNormal: 400;
  --FontWeightBold: 700;
  --ThemesBackground: #fff;
  --ThemesColor: #000;
  --BackgroundImage: repeating-linear-gradient(
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(90deg, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(to top, #e7e7e7 0%, #1a1a1a 0.01%, #e7e7e7 100%);
  --BorderColor: #000;
  --AnimationColor: #fff;
  --heart: red;
}

@media (prefers-color-scheme: dark) {
  :root {
    --FontWeightNormal: 465;
    --FontWeightBold: 785;
    --ThemesBackground: #000;
    --ThemesColor: #00cc14;
    --BackgroundImage: repeating-linear-gradient(#000, #000 2px, transparent 2px, transparent 4px),
      repeating-linear-gradient(90deg, #000, #000 2px, transparent 2px, transparent 4px),
      repeating-linear-gradient(#007f0c 0%, #007f0c 0.01%, #004306 100%);
    --BorderColor: #00cc14;
    --AnimationColor: #00cc14;
    --heart: red;
  }
}
